{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Market Peak blog</title>
    <meta name="description" content="Market Peak">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'base/link.html' %}
    {% block links %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="row px-2 justify-content-between align-items-center menu h3">
        <div class="col-md-auto logo">
            <a href="/">
                {% block logo %}
                    <img class="logo-img" src="/static/image/logo_market_peak.png" alt="market_peak">{% endblock %}
            </a>
        </div>
        <div class="col-md-auto">
            <div class="my-0"><a href="{% url 'blog:contact' %}">Contact</a></div>
        </div>
        <div class="col-md-auto">
            <div class="my-0"><a href="{% url 'blog:private' %}">Private club</a></div>
        </div>

    </div>
</div>

{% block header %}

    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-auto h4">
                <a class="mx-4" href="{{ settings.youtube_link }}" target="_blank">
                    <i class="fab fa-youtube" aria-hidden="true"></i>&nbsp;YouTube</a>
            </div>
            <div class="col-auto">
                <a class="mx-4" href="{{ settings.patreon_link }}" target="_blank"><i class="fab fa-patreon"
                                                                                      aria-hidden="true"></i>&nbsp;Patreon</a>
            </div>
            <div class="col-auto">
                <a class="mx-4" href="{{ settings.telegram_link }}" target="_blank"><i class="fab fa-telegram"
                                                                                       aria-hidden="true"></i>&nbsp;Telegram</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}{% endblock %}


</body>
{% include 'base/js.html' %}
{% block scripts %}{% endblock %}
</html>
