{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Market Peak blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon"/>
    <meta name="description" content="Market Peak">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'base/link.html' %}
    {% block links %}{% endblock %}

</head>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(57320053, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/57320053" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<body>
<div class="container">
    <div class="row px-2 justify-content-between align-items-center menu h3 text-center">
        <div class="col-md-auto py-3 logo">
            <a href="/">
                {% block logo %}
                    <img class="logo-img" src="/static/image/logo_market_peak.png" alt="market_peak">{% endblock %}
            </a>
        </div>
        <div class="col-md-auto py-3">
            <div class="my-0 py-2"><a href="{% url 'blog:contact' %}">Contact</a></div>
        </div>
        <div class="col-md-auto py-3">
            <div class="my-0"><a href="{% url 'blog:private' %}">Private club</a></div>
        </div>

    </div>
</div>

{% block header %}

    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-auto h4">
                <a class="mx-4" href="{{ settings.youtube_link }}" target="_blank">
                    <i class="fab fa-youtube" aria-hidden="true"></i>&nbsp;YouTube</a>
            </div>
            {#            <div class="col-auto">#}
            {#                <a class="mx-4" href="{{ settings.patreon_link }}" target="_blank"><i class="fab fa-patreon"#}
            {#                                                                                      aria-hidden="true"></i>&nbsp;Patreon</a>#}
            {#            </div>#}
            <div class="col-auto">
                <a class="mx-4" href="{{ settings.telegram_link }}" target="_blank"><i class="fab fa-telegram"
                                                                                       aria-hidden="true"></i>&nbsp;Telegram</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}{% endblock %}


</body>
{% include 'base/js.html' %}
{% block scripts %}{% endblock %}
</html>
