{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Market Peak blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon"/>
    <meta name="description" content="Market Peak">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="yandex-verification" content="8c45289f16bee6eb" />
    {% include 'base/link.html' %}
    {% block links %}{% endblock %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "/static/js/yandex_tag.js", "ym");

        ym(57320053, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
</head>
<body>
<div class="container">
    <div class="row px-2 justify-content-between align-items-center menu h3 text-center">
        <div class="col-md-auto logo py-3">
            <a href="/">
                {% block logo %}
                    <img class="logo-img" src="/static/image/logo_market_peak.png" alt="market_peak">{% endblock %}
            </a>
        </div>
        <div class="col-md-auto py-3 ">
            <div class="my-0"><a href="{% url 'blog:contact' %}">Contact</a></div>
        </div>
        <div class="col-md-auto py-3 club-title-public">
            <div class="my-0"><a href="{% url 'blog:private' %}">Private club</a></div>
        </div>
    </div>
</div>

{% block header %}

    <div class="container-fluid">
        <div class="row justify-content-center my-2">
            {% for post in header_posts %}

                <div class="col-auto my-1">
                    <a class="btn btn-dark text-white"
                       href="{% url 'blog:post' name=post.url_name %}">{{ post.title }}</a>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}

<div class="container-fluid">
    <div class="row justify-content-center px-4">
        <div class="col-xl-9 col-lg-8 col-12">{% block content %}{% endblock %}
        </div>
        <div class="col-xl-3 col-lg-4v">{% block sidebar %}
            <div class="row justify-content-center my-4 h5">
                <div class="col-auto my-2">
                    <a class="mx-4" href="{{ settings.youtube_link }}" target="_blank">
                        <i class="fab fa-youtube" aria-hidden="true"></i>&nbspYouTube</a>
                </div>
                <div class="col-auto my-2">
                    <a class="mx-4" href="{{ settings.telegram_link }}" target="_blank">
                        <i class="fab fa-telegram" aria-hidden="true"></i>&nbspTelegram</a>

                </div>
                {#                <div class="col-auto my-2">#}
                {#                    <a class="mx-4" href="{{ settings.patreon_link }}" target="_blank">#}
                {#                        <i class="fab fa-patreon" aria-hidden="true"></i>&nbspPatreon</a>#}
                {#                </div>#}
            </div>

            {% for video in videos %}
                <div class="d-block mb-4">
                    <h4 class="text-center mb-1">{{ video.title }}</h4>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/{{ video.filter_url }}" frameborder="0"
                                allowfullscreen></iframe>
                    </div>


                </div>
            {% endfor %}

        {% endblock %}</div>
    </div>

</div>

{% block footer %}
    <div class="container">
        <div class="row justify-content-center my-4 h4">
            <div class="col-auto">
                <a class="mx-4" href="{{ settings.youtube_link }}" target="_blank">
                    <i class="fab fa-youtube" aria-hidden="true"></i>&nbsp;YouTube</a>
            </div>
            {#            <div class="col-auto">#}
            {#                <a class="mx-4" href="{{ settings.patreon_link }}" target="_blank"><i class="fab fa-patreon"#}
            {#                                                                                                aria-hidden="true"></i>&nbsp;Patreon</a>#}
            {#            </div>#}
            <div class="col-auto">
                <a class="mx-4" href="{{ settings.telegram_link }}" target="_blank"><i class="fab fa-telegram"
                                                                                       aria-hidden="true"></i>&nbsp;Telegram</a>
            </div>
        </div>
    </div>

{% endblock %}

</body>


{% include 'base/js.html' %}
{% block scripts %}
{% endblock %}
</html>
