<div class="row">
    <div class="col-12 col-sm-offset-2">
        <div class="loader">
            <div class="col-xs-3 col-xs-offset-5">
                <div id="loadbar" style="display: none;">
                </div>
            </div>

            <div id="quiz">

                <div class="question">
                    <h3>
                        <span id="question"></span>
                    </h3>
                </div>
                <div id="questions">
                </div>
            </div>
        </div>
        <div class="text-muted">
            <span id="answer"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="result-of-question" class="pulse animated" style="display: none;">
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>Question №</th>
                    <th>Your answer</th>
                </tr>
                </thead>
                <tbody id="quizResult"></tbody>
            </table>
        </div>
    </div>
</div>
