{% extends 'base/index.html' %}

{% block content %}
    {% if general %}
        <div class="row justify-content-center mt-3">
                <a href="{% url 'blog:post' name=general.url_name %}"
                   class="col-xl-8 col-sm-12 my-2 article">
                    <div class="row h-100 p-2 justify-content-center">

                        <div class="col-12 item-image" style="
                                {% if general.image %}background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.50)), url('{{ general.image.url }}');{% endif %}"></div>
                        <div class="col-12 h3 align-self-center info-text text-center" style="max-width: 80%">
                            <h2 class="mb-0 px-2 text-dark title-post d-inline">{{ general.title }}</h2>
                            <br>
                            <h4 class="mb-0 px-2 bg-white text-dark d-inline-block title-post">How register in
                                project?</h4>
                        </div>
                    </div>
                </a>
        </div>
    {% endif %}

    {#    {% regroup posts by category.name as posts_by_categorys %}#}
    {% for category, posts in posts_by_category.items %}
        {% if posts %}
            <div class="row">
                <div class="col  text-center">
                    <a href="{% url 'blog:category' name=category %}"><h3 class="my-2">{{ category }}</h3></a>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                    <a href="{% url 'blog:post' name=post.url_name %}"
                       class="col-lg-{{ post.col }} col-md-6 col-sm-12 my-2 article">
                        <div class="row h-100 p-2 justify-content-center">
                            <div class="col-12 item-image"
                                 style="{% if post.image %}background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.50)),
                                     url('{{ post.image.url }}');
                                 {% endif %}"></div>
                            <div class="col-12 h3 align-self-center info-text text-center" style="max-width: 80%">
                                <h4 class="mb-0 px-2 text-dark title-post d-inline  ">{{ post.title }}</h4>
                                <br>
                                {% if post.mini_title %}
                                    <h6 class="mb-0 px-2 bg-white text-dark d-inline-block title-post">
                                        H{{ post.title_description }}</h6>{% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

        {% include 'block/contact_form.html' %}

{% endblock %}

