{% extends 'base/index.html' %}
{% block content %}

    <div class="row p-0 mb-4 text-center">
        <h2 class="the-title">{{ post.title }}</h2>

    </div>

    {#        <div class="headline">#}
    {#            <div class="headline-image"#}
    {#                 style="{% if post.image %}background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.50)), url('{{ post.image.url }}');{% endif %} ">#}
    {#                <img src="{{ post.image.url }}" style="opacity: 0;" alt="" class="the-cover">#}
    {#            </div>#}
    {#            <div class="headline-info">#}
    {#                <div class="headline-info__title the-title">{{ post.title }}</div>#}
    {##}
    {#                <div class="clearfix"></div>#}
    {#                <div class="headline-info__date">{{ post.date_creation|date:"d.m.Y" }}</div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div class="row bg-white my-5">
            {{ post.text|safe }}
    </div>


    {% include 'block/contact_form.html' %}

{% endblock %}
